<!DOCTYPE html>
<html style="font-family: 'Roboto' , sans-serif;">
<head>
          <title></title>
            <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap" rel="stylesheet">
          
             <meta name="viewport" content="width=device-width, initial-scale=1.0">





         </head>
<body yahoo bgcolor="#ffffff">

<table width="80%" bgcolor="#f6f8f1" align="center" border="0" cellpadding="30px" cellspacing="0" style=" height: 10vh;">
<tr>
<td bgcolor="#ffffff" height="">
</td>
</tr>
<tr>
<td class="main" bgcolor="#f6f8f1" style="height: 400px;">
<div class="logo" align="center" style="display: flex;flex-direction: row;justify-content: center;">
<div class="image1">
<img src="https://examlounge-cdn.s3.amazonaws.com/resources/images/logo_950879243DZO5G.jpg" style="width: 50px;margin-top: 10px;border-radius: 40px;">
</div>
<div class="textlogo" align="center" style="padding: 0 8px;color: #9a9ab1;font-size: 20px;margin-top: 5px;">
<h3>EXAM <span class="name" style="color: #022071;">LOUNGE</span></h3>
</div>
</div>
<div class="reset" align="center" style="text-align: center;color: #022071;">
<h3> RESET PASSWORD {{name}}</h3>
<p style="color: #8a8a92;font-size: 13px;text-align: center;"> Reset your password by using the OTP</p>
</div>
<div class="pic" align="center">
<img src="https://examlounge-cdn.s3.amazonaws.com/resources/images/12_790951091M2VNK.png" style="width: 240px;margin-top: 30px;">
</div>
<div class=" otp" align="center" style="color: #8a8a92;font-size: 13px;">
<p> Want to reset your password? Use this OTP to reset.<br><br>Your OTP : 456789<br>Please do not share this with anyone and also remember it is for one time usage</p>
</div>
<div class="button1" align="center" style="padding: 17px 51px;">
<button class="big-button" style="padding: 10px 36px;border: 2px solid transparent;border-radius: 10px;background: #e47e04;color: white;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);">Reset Password?</button>
</div>
</td>
</tr>
</table>

<div class="footer" style="display: flex;flex-direction: row;justify-content: space-evenly;">
<div class="write" style="font-size: 10px;color: #b4b4bd;margin-top: 20px; margin-left:30px;">
<p>You will be recieving newsletter<br>
FAQ asked<br>
Unsubscribe</p>
</div>
<div class="social">
<a href="https://www.facebook.com/ExamLounge" style="text-decoration:none;">
<img src="https://examlounge-cdn.s3.amazonaws.com/resources/images/facebook-square-color_415928463AWJ6J.png" style="width: 13px;padding: 9px;margin-top: 25px;border-radius: 1000px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0001), 0 6px 6px rgba(0, 0, 0, 0.1);">
</a>
<a href="https://www.instagram.com/examlounge/" style="text-decoration:none;">
<img src="https://examlounge-cdn.s3.amazonaws.com/resources/images/instagram-square-color_2136339149W14D.png" style="width: 13px;padding: 9px;margin-top: 25px;border-radius: 1000px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0001), 0 6px 6px rgba(0, 0, 0, 0.1);">
</a>
<a href="https://pinterest.com/examlounge/" style="text-decoration:none;">
<img src="https://examlounge-cdn.s3.amazonaws.com/resources/images/pinterest-square-color_317137049NUKT0.png" style="width: 13px;padding: 9px;margin-top: 25px;border-radius: 1000px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0001), 0 6px 6px rgba(0, 0, 0, 0.1);">
</a>
<a href="https://www.twitter.com/examlounge/" style="text-decoration:none;">
<img src="https://examlounge-cdn.s3.amazonaws.com/resources/images/twitter-square-color_846288699X7Q0B.png" style="width: 13px;padding: 9px;margin-top: 25px;border-radius: 1000px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0001), 0 6px 6px rgba(0, 0, 0, 0.1);">
</a>
</div>
</div>
</body>
</html>